//color
$main-text-color:hsla(0, 0%, 100%, .6);
$second-text-color:#fff;


//font
$font-weight-bold: 900;
$font-weight-thick: 600;
$font-size-big: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;

//z-index
$z-index-navbar:1;
$z-index-player:2;
$z-index-content:1;
$z-index-main:-1;


